@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
}


/* 화면 가로 가운데 배치 */
#wrap {
    width: 1200px;
    margin: 0 auto;
}
header {
    display: flex;
    justify-content: space-between;
    height: 100px;
}
/* 내비게이션 */
.main {
    display: flex;
}

#slide {
    height: 300px;
    overflow: hidden;
}

#contents {
    display: flex;
    height: 200px;
}
#contents > div {
    width: 400px;
}
#tab2 img {
    width: 110px;
    margin-left: 12px;
}

footer {
    display: flex;
    height: 100px;
    background: rgb(255, 205, 144);
}